{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "semi": false,
  "requirePragma": false,
  "proseWrap": "preserve",
  "importOrder": [
    "^@/(.*)$",
    "^[./]"
  ],
  "arrowParens": "avoid"
}
