name: "Update Assets"

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  update:
    name: Update assets

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node 18
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'

      - name: Compile Asset
        run: |
          npm ci
          npm run package
        env:
          TAILWIND_MODE: build

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "build(bot): build tool assets"
